@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');


/*font-family: 'Poppins', sans-serif;  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(257, 40%, 49%);
    /* background-image: url("../images/bg-mobile.svg");
    background-size: 375px;
    background-position: top center;
    background-repeat: no-repeat; */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    /* border: 1px solid orange; */
    display: block;
    width: 375px;
    margin: 40px auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    background-image: url("../images/bg-mobile.svg");
    background-size: 375px;
    background-position: top center;
    background-repeat: no-repeat;
}

.logo {
    /* border: 1px solid black; */
    height: 50px;
    margin-bottom: 30px;
}

.logo img {
    width: 120px;
}

.illustration {
    /* border: 1px solid pink; */
    margin-bottom: 60px;
}

.illustration img {
    max-width: 100%;
}

.community {
    text-align: center;
}

.community h2 {
    line-height: 1.5;
    margin-bottom: 15px;
}

.community p {
    line-height: 1.5;
    margin-bottom: 20px;
}

button {
    border: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    height: 40px;
    width: 180px;
    border-radius: 20px;
    color: hsl(257, 40%, 49%);
    box-shadow: 0 5px 5px  #333;
    cursor: pointer;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(0, 0%, 99%);
}

@media (min-width:800px) {
    body {
        background-image: url("../images/bg-desktop.svg");
        object-fit: fill;
        background-repeat: no-repeat;
    }

    .container {
        background-image: none;
        width: 80%;
        padding: 0 auto;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo ."
                                "illustration community"
                                "footer footer";
    }

    .logo {
        grid-area: logo;
    }

    .logo img {
        width: 150px;
    }

    .illustration {
        grid-area: illustration;
        margin-bottom: 5px;
    }

    .community {
        grid-area: community;
        text-align: left;
        padding-left: 20px;
        place-self: center;
    }

    .community h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        line-height: 1.2;
    }

    .community p {
        font-size: 17px;
        line-height: 1;
    }

    button {
        height: 30px;
        border-radius: 20px;
        width: 200px;
    }

    footer { 
        grid-area: footer;
    }
}

@media (min-width:1401px) {
    body {
        background-image: url("../images/bg-desktop.svg");
        background-size: 100%;
    }

    .container {
        background-image: none;
        width: 80%;
        max-width: 1400px;
        padding: 0 auto;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: "logo ."
                                "illustration ."
                                "illustration community"
                                "illustration ."
                                "footer footer";
    }

    .logo img {
        width: 200px;
    }

    .community {
        grid-area: community;
        text-align: left;
        padding-left: 15px;
    }

    .community h2 {
        font-size: 2.5rem;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .community p {
        font-size: 17px;
        line-height: 1.5;
    }

    button {
        height: 60px;
        border-radius: 30px;
        width: 200px;
    }
}