@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');


/*font-family: 'Poppins', sans-serif;  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(257, 40%, 49%);
    background-image: url("../images/bg-mobile.svg");
    background-size: 100%;

    background-repeat: no-repeat;
}

.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}